header {height: 180px;}
header {background-color: dodgerblue;background-image: url(pattern.png);}
#logo {width: 150px;}
h1 {
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  h3 {
    margin-bottom: 0px;
    margin-top: 0px;
 color: gray;}
  
  h4 {
    margin-top: 0px;
    font-size: 15px;
  }
